<br>
<div class="panel panel-default">
  <center><h3 class="titulo-centrado">Acta de Suspensión</h3></center>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class=" panel panel-primary" >
          <div class="panel-heading"><center><h4><b>Información</b></h4></center></div>
          <div class="panel-body">
            <div class="col-md-6"><b>Número de contrato</b></div>
            <div class="col-md-6"><p>{{sLactaSuspension.contrato_obj.id}}</p></div>
            <div class="col-md-6"><b>Contratante</b></div>
            <div class="col-md-6"><p>{{sLactaSuspension.contrato_obj.contratante}}</p></div>
            <div class="col-md-6"><b>Contratista</b></div>
            <div class="col-md-6" ng-if="sLactaSuspension.contrato_obj.contratista.NomProveedor != null">
              <p>{{sLactaSuspension.contrato_obj.contratista.NomProveedor}}</p>
            </div>
            <div class="col-md-6" ng-if="sLactaSuspension.contrato_obj.contratista.NomProveedor == null">
              <p>No registra</p>
            </div>
            <div class="col-md-6"><b>Objeto</b></div>
            <div class="col-md-6" ng-if="sLactaSuspension.contrato_obj.objeto != null">
              <p>{{sLactaSuspension.contrato_obj.objeto}}</p>
            </div>
            <div class="col-md-6" ng-if="sLactaSuspension.contrato_obj.objeto == null">
              <p>No registra</p>
            </div>
            <div class="col-md-6"><b>Valor contrato</b></div>
            <div class="col-md-6"><p>{{sLactaSuspension.contrato_obj.valor | currency}}</p></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class=" panel panel-primary">
          <div class="panel-heading"><center><h4><b>Información Novedad</b></h4></center></div>
          <div class="panel-body">
            <div class="form-group col-md-6" >
              <label for="fechainicio">Fecha Inicio:</label>
              <md-datepicker ng-model="sLactaSuspension.f_inicio"> </md-datepicker>
            </div>
            <div class="form-group col-md-6" >
              <label for="fechareinicio">Fecha de Reinicio:</label>
                <md-datepicker ng-model="sLactaSuspension.f_reinicio" md-min-date="sLactaSuspension.f_inicio"></md-datepicker>
            </div>
            <div class="form-group col-md-6">
              <label for="perido">Periodo de Suspensión (En dias):</label>
              <input class="form-control" type="number" id="periodo" ng-model="sLactaSuspension.diff_dias" ng-disabled="false" min="0" placeholder="-">
            </div>
            <div class="form-group col-md-12" >
              <label>Motivo de la Suspensión:</label>
              <textarea class="form-control" id="motivo" ng-model="sLactaSuspension.motivo" rows="5"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div ng-if="sLactaSuspension.suspension_nov != null">
          <pre>{{sLactaSuspension.suspension_nov | json}}</pre>
        </div>
      </div>
    </div>

  </div>
  <div class="panel-footer">
    <center><button class="btn btn-primary btn-lg" ng-click="sLactaSuspension.generarActa()">Crear Acta de Suspensión</button></center>
  </div>
</div>
