<br>
<div class="panel panel-default">
<center><h3 class="titulo-centrado">Acta de Adición/Prórroga</h3></center>
    <div class="panel-body">
      <div class=" panel panel-primary col-sm-5 paneles" >
        <div class="panel-heading row"><center><h4><b>Información</b></h4></center></div>
        <div class="col-md-6"><b>Tipo de contrato</b></div>
        <div class="col-md-6"><p>Contrato de Prestación de Servicios</p></div>
        <div class="col-md-6"><b>Número de contrato</b></div>
        <div class="col-md-6"><p>150246</p></div>
        <div class="col-md-6"><b>Objeto</b></div>
        <div class="col-md-6"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel commodo mi, ut sollicitudin elit. Aliquam erat volutpat.
          Pellentesque mollis odio sed bibendum mattis. Nunc viverra ante a eros elementum consequat.</p> </div>
        <div class="col-md-6"><b>Valor contrato</b></div>
        <div class="col-md-6"><p>$ 2.264.427</p></div>
        <div class="col-md-6"><b>Contratista</b></div>
        <div class="col-md-6"><p>Pepe Perez</p></div>
        <div class="col-md-6"><b>Plazo inicial(en meses)</b></div>
        <div class="col-md-6"><p>9</p></div>
        <div class="col-md-6"><b>Supervisor</b></div>
        <div class="col-md-6"><p>Juan Rodriguez</p></div>
        <div class="col-md-6"><b>Fecha de Iniciación</b></div>
        <div class="col-md-6"><p>Febrero 15 de 2017</p></div>
      </div>





    <div class=" panel panel-primary col-sm-5 paneles" >
      <div class="panel-heading row"><center><h4><b>Información General de la Novedad</b></h4></center></div>


      <center><label class="checkbox-inline"><input type="checkbox" value="" ng-model="adicion">Adición</label>
      <label class="checkbox-inline"><input type="checkbox" value=""  ng-model="prorroga">Prórroga</label></center>

      <div class="form-group col-sm-6" >
        <label for="solicitud">Número de Solicitud</label>
        <input type="number" class="form-control" id="solicitud" >
      </div>
      <div class="form-group col-sm-6" >
        <label for="fecha_solicitud">Fecha Solicitud</label>
        <input type="date" class="form-control" id="fecha_solicitud" value="2017-07-04" >
      </div>

    </div>


      <div class=" panel panel-primary col-sm-5 paneles" ng-if="adicion" >
        <div class="panel-heading row"><center><h4><b>Información Novedad de Adición</b></h4></center></div>

        <div class="form-group col-sm-6" >
          <label for="numero_cdp">Número CDP</label>
          <input type="number" class="form-control" id="numero_cdp" >
        </div>

        <div class="form-group col-sm-6" >
          <label for="fecha_adicion">Fecha Adición</label>
          <input type="date" class="form-control" id="fecha_adicion" value="2017-07-04" >
        </div>

        <div class="form-group col-md-6" >
          <label for="motivo_adicion">Motivo Adición</label>
          <textarea class="form-control" id="motivo_adicion" rows="3"></textarea>
        </div>

        <div class="form-group col-sm-6" >
          <label for="valor_adicion">Valor Adición</label>
          <input type="number" class="form-control" id="valor_adicion" >
        </div>

        <div class="form-group col-sm-6" >
          <label for="nuevo_valor_contrato">Nuevo Valor del Contrato</label>
          <input type="number" class="form-control" id="nuevo_valor_contrato" disabled>
        </div>
      </div>

      <div class="row">
      <div class="col-md-5 paneles"></div>
      <div class=" panel panel-primary col-md-5  paneles" ng-if="prorroga">
        <div class="panel-heading row"><center><h4><b>Información Novedad de Prórroga</b></h4></center></div>

        <div class="form-group col-sm-6" >
          <label for="tiempo_prorroga">Tiempo Prórroga (En dias)</label>
          <input type="number" class="form-control" id="tiempo_prorroga" >
        </div>
        <div class="form-group col-sm-6" >
          <label for="fecha_prorroga">Fecha Prórroga</label>
          <input type="date" class="form-control" id="fecha_prorroga" value="2017-07-04" >
        </div>

        <div class="form-group col-md-6" >
          <label for="motivo_prorroga">Motivo Prórroga</label>
          <textarea class="form-control" id="motivo_prorroga" rows="3"></textarea>
        </div>

        <div class="form-group col-sm-6" >
          <label for="nuevo_plazo_contrato">Nuevo Plazo del Contrato</label>
          <input type="number" class="form-control" id="nuevo_plazo_contrato" disabled>
        </div>
      </div>


    </div>

    </div>
    <div class="panel-footer">
      <center><button class="btn btn-primary btn-lg" ng-click="sLactaAdicionProrroga.generarActa()">Crear Acta de Adición/Prórroga</button></center>
    </div>
</div>
