<br>
<div class="panel panel-default">
  <div><center><h3 class="titulo-centrado">{{'ACTA_ADICION_PRORROGA' | translate}}</h3></center></div>
  <form method="post">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-5">
          <div class="panel panel-primary">
            <div class="panel-heading"><center><h4><b>{{'INFORMACION' | translate}}</b></h4></center></div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6"><b>{{'TIPO_CONTRATO' | translate}}</b></div>
                <div class="col-md-6"><p>{{sLactaAdicionProrroga.contrato_obj.TipoContrato}}</p></div>
                <div class="col-md-6"><b>{{'NUMERO_CONTRATO' | translate}}</b></div>
                <div class="col-md-6"><p>{{sLactaAdicionProrroga.contrato_obj.id}}</p></div>
                <div class="col-md-6"><b>{{'OBJETO' | translate}}</b></div>
                <div class="col-md-6"><p>{{sLactaAdicionProrroga.contrato_obj.ObjetoContrato}}</p></div>
                <div class="col-md-6"><b>{{'VALOR_TOTAL_CONTRATO' | translate}}</b></div>
                <div class="col-md-6"><p>$ {{sLactaAdicionProrroga.contrato_obj.ValorContrato}}</p></div>
                <div class="col-md-6"><b>{{'DATOS_CONTRATISTA' | translate}}</b></div>
                <div class="col-md-6"><p>{{sLactaAdicionProrroga.contrato_obj.Contratista}}</p></div>
                <div class="col-md-6"><b>{{'PLAZO_INICIAL_MESES' | translate}}</b></div>
                <div class="col-md-6"><p>{{sLactaAdicionProrroga.contrato_obj.PlazoEjecucion}}</p></div>
                <div class="col-md-6"><b>{{'SUPERVISOR' | translate}}</b></div>
                <div class="col-md-6"><p>{{sLactaAdicionProrroga.contrato_obj.Supervisor}}</p></div>
                <div class="col-md-6"><b>{{'FECHA_INICIACION' | translate}}</b></div>
                <div class="col-md-6"><p>{{sLactaAdicionProrroga.contrato_obj.FechaRegistro | date:"dd-MM-yyyy"}}</p></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5">
          <!-- PANEL INFORMACION GENERAL -->
          <div class="panel panel-primary">
            <div class="panel-heading"><center><h4><b>{{'INFORMACION_NOVEDAD' | translate}}</b></h4></center></div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <center>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="adicion" ng-click="click_check_adicion()">{{'ADICION' | translate}}</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="prorroga" ng-click="click_check_prorroga()">{{'PRORROGA' | translate}}</label>
                  </center>
                </div>
              </div>
              <hr>
              <div class="row" style="border: 0px solid;">
                <div class="col-xs-12 col-md-6">
                  <label for="solicitud">{{'NUMERO_SOLICITUD' | translate}}</label>
                  <input type="number" class="form-control" id="solicitud" ng-model="numero_solicitud" placeholder="{{'NUMERO_SOLICITUD' | translate}}" required>
                </div>
                <div class="col-xs-12 col-md-6">
                  <label for="fecha_solicitud">{{'FECHA_SOLICITUD' | translate}}</label>
                  <input type="date" class="form-control" id="fecha_solicitud" ng-model="FechaRegistro" min="{{sLactaAdicionProrroga.fecha_inicio | date:'yyyy-MM-dd'}}">
                </div>
                <div class="col-xs-12 col-md-12" >
                  <label for="motivo">{{'MOTIVO' | translate}}</label>
                  <textarea class="form-control" id="motivo" ng-model="motivo" rows="3" placeholder="{{'MOTIVO_NOVEDAD' | translate}}"></textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- PANEL ADICION -->
          <div class="panel panel-primary panel_adicion" style="display: none;">
            <div class="panel-heading"><center><h4><b>{{'INFORMACION_NOVEDAD_ADICION' | translate}}</b></h4></center></div>
            <div class="panel-body">
              <div class="row" style="border: 0px solid;">
                <div class="col-xs-12 col-md-6" >
                  <label for="numero_cdp">{{'NUMERO_CDP' | translate}}</label>
                  <input type="number" class="form-control" id="numero_cdp" value="{{sLactaAdicionProrroga.contrato_obj.NumeroCdp}}">
                </div>
                <div class="col-xs-12 col-md-6" >
                  <label for="valor-adicion">{{'VALOR_ADICION' | translate}}</label>
                  <input type="number" class="form-control" id="valor-adicion" ng-model="valor_adicion" ng-blur="total_valor_contrato($event)" placeholder="{{'VALOR_ADICION' | translate}}">
                </div>
                <div class="col-xs-12 col-md-6" >
                  <label for="fecha-adicion">{{'FECHA_ADICION' | translate}}</label>
                  <input type="date" class="form-control" id="fecha-adicion" ng-model="fecha_adicion" min="{{sLactaAdicionProrroga.fecha_inicio | date:'yyyy-MM-dd'}}">
                </div>
                <div class="col-xs-12 col-md-6">
                  <label for="nuevo-valor-contrato">{{'NUEVO_VALOR_CONTRATO' | translate}}</label><br>
                  <input type="number" class="form-control" id="nuevo-valor-contrato" ng-model="nuevo_valor_contrato" placeholder="{{'NUEVO_VALOR_CONTRATO' | translate}}" readonly>
                </div>
              </div>
            </div>
          </div>
          <!-- PANEL PRORROGA -->
          <div class="panel panel-primary panel_prorroga" style="display: none;">
            <div class="panel-heading"><center><h4><b>{{'INFORMACION_NOVEDAD_PRORROGA' | translate}}</b></h4></center></div>
            <div class="panel-body">
              <div class="row" style="border: 0px solid;">
                <div class="col-xs-12 col-md-6" >
                  <label for="tiempo-prorroga">{{'TIEMPO_PRORROGA' | translate}}</label>
                  <input type="number" class="form-control" id="tiempo-prorroga" ng-model="tiempo_prorroga" ng-blur="total_plazo_contrato($event)" placeholder="{{'TIEMPO_PRORROGA_PLACEHOLDER' | translate}}">
                </div>
                <div class="col-xs-12 col-md-6" >
                  <label for="fecha-prorroga">{{'FECHA_PRORROGA' | translate}}</label>
                  <input type="date" class="form-control" id="fecha-prorroga" ng-model="fecha_prorroga" min="{{sLactaAdicionProrroga.fecha_inicio | date:'yyyy-MM-dd'}}">
                </div>
                <div class="fcol-xs-12 col-md-12" >
                  <label for="nuevo-plazo-contrato">{{'NUEVO_PLAZO_CONTRATO' | translate}}</label>
                  <input type="number" class="form-control" id="nuevo-plazo-contrato" ng-model="nuevo_plazo_contrato" placeholder="{{'NUEVO_PLAZO_CONTRATO_PLACEHOLDER' | translate}}" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1"></div>
      </div>
    </div>

    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center;">
          <button type="submit" class="btn btn-primary btn-lg" ng-click="sLactaAdicionProrroga.generarActa()">
            <span class="glyphicon glyphicon-file"></span> {{'CREAR_NOVEDAD_ADICION_PRORROGA' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
