<br>
<div class="panel panel-default">
<center><h3 class="titulo-centrado">Terminación Anticipada</h3></center>
    <div class="panel-body">
      <div class=" panel panel-primary col-sm-5 paneles" >
        <div class="panel-heading row"><center><h4><b>Información</b></h4></center></div>
        <div class="col-md-6"><b>Tipo de contrato</b></div>
        <div class="col-md-6"><p>Contrato de Prestación de Servicios</p></div>
        <div class="col-md-6"><b>Número de contrato</b></div>
        <div class="col-md-6"><p>150246</p></div>
        <div class="col-md-6"><b>Objeto</b></div>
        <div class="col-md-6"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel commodo mi, ut sollicitudin elit. Aliquam erat volutpat.
          Pellentesque mollis odio sed bibendum mattis. Nunc viverra ante a eros elementum consequat.</p> </div>
        <div class="col-md-6"><b>Valor contrato</b></div>
        <div class="col-md-6"><p>$ 2.264.427</p></div>
        <div class="col-md-6"><b>Contratista</b></div>
        <div class="col-md-6"><p>Pepe Perez</p></div>
        <div class="col-md-6"><b>Supervisor</b></div>
        <div class="col-md-6"><p>Juan Rodriguez</p></div>
        <div class="col-md-6"><b>Fecha de Inicio</b></div>
        <div class="col-md-6"><p>Febrero 15 de 2017</p></div>
        <div class="col-md-6"><b>Numero RP</b></div>
        <div class="col-md-6"><p>111</p></div>
        <div class="col-md-6"><b>Fecha RP</b></div>
        <div class="col-md-6"><p>Febrero 15 de 2017</p></div>

      </div>





    <div class=" panel panel-primary col-sm-5 paneles" >
      <div class="panel-heading row"><center><h4><b>Información General de la Novedad</b></h4></center></div>

      <div class="form-group col-md-6" >
        <label for="numero_solicitud">Número de Solicitud</label>
        <input type="number" class="form-control" id="numero_solicitud" >
      </div>
      <div class="form-group col-md-6" >
        <label for="fecha_solicitud">Fecha Solicitud</label>
        <input type="date" class="form-control" id="fecha_solicitud" value="2017-07-04" >
      </div>
      <div class="form-group col-md-6" >
        <label for="numero_oficio">Número de Oficio Estado de Cuentas</label>
        <input type="number" class="form-control" id="numero_oficio"  >
      </div>
      <div class="form-group col-md-6" >
        <label for="fecha_terminacion">Fecha Terminación Anticipada</label>
        <input type="date" class="form-control" id="fecha_terminacion" value="2017-07-04" >
      </div>
      <div class="form-group col-md-6" >
        <label for="valor_desembolsado">Valor desembolsado</label>
        <input type="number" class="form-control" id="valor_desembolsado"  >
      </div>
      <div class="form-group col-md-6" >
        <label for="saldo_a_favor_contratista">Saldo a favor del Contratista</label>
        <input type="number" class="form-control" id="saldo_a_favor_contratista"  >
      </div>
      <div class="form-group col-md-6" >
        <label for="saldo_a_favor_universidad">Saldo a favor de la Universidad</label>
        <input type="number" class="form-control" id="saldo_a_favor_universidad"  >
      </div>


    </div>





    </div>
    <div class="panel-footer">
      <center><button class="btn btn-primary btn-lg" ng-click="sLactaTerminacionAnticipada.generarActa()">Crear Acta de Terminación y Liquidación Bilateral</button></center>
    </div>
</div>
