<br>
<div class="panel panel-default">
<center><h3 class="titulo-centrado">Acta de Liquidación</h3></center>
    <div class="panel-body">
      <div class=" panel panel-primary col-sm-5 paneles" >
        <div class="panel-heading row"><center><h4><b>Información</b></h4></center></div>
        <div class="col-md-6"><b>Tipo de contrato</b></div>
        <div class="col-md-6"><p>Contrato de Prestación de Servicios</p></div>
        <div class="col-md-6"><b>Número de contrato</b></div>
        <div class="col-md-6"><p>150246</p></div>
        <div class="col-md-6"><b>Objeto</b></div>
        <div class="col-md-6"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel commodo mi, ut sollicitudin elit. Aliquam erat volutpat.
          Pellentesque mollis odio sed bibendum mattis. Nunc viverra ante a eros elementum consequat.</p> </div>
        <div class="col-md-6"><b>Valor contrato</b></div>
        <div class="col-md-6"><p>$ 2.264.427</p></div>
        <div class="col-md-6"><b>Contratista</b></div>
        <div class="col-md-6"><p>Pepe Perez</p></div>
        <div class="col-md-6"><b>Plazo inicial(en meses)</b></div>
        <div class="col-md-6"><p>9</p></div>
        <div class="col-md-6"><b>Supervisor</b></div>
        <div class="col-md-6"><p>Juan Rodriguez</p></div>
        <div class="col-md-6"><b>Fecha de Iniciación</b></div>
        <div class="col-md-6"><p>Febrero 15 de 2017</p></div>
        <div class="col-md-6"><b>Localización del Proyecto</b></div>
        <div class="col-md-6"><p>Bogotá</p></div>
        <div class="col-md-6"><b>Número de CDP</b></div>
        <div class="col-md-6"><p>150</p></div>
        <div class="col-md-6"><b>Fecha de RP</b></div>
        <div class="col-md-6"><p>Enero 02 de 2017</p></div>
        <div class="col-md-6"><b>Valor de RP</b></div>
        <div class="col-md-6"><p>$ 22.644.270</p></div>
        <div class="col-md-6"><b>Número de CDP</b></div>
        <div class="col-md-6"><p>111</p></div>
        <div class="col-md-6"><b>Fecha de CDP</b></div>
        <div class="col-md-6"><p>Enero 02 de 2017</p></div>
        <div class="col-md-6"><b>Valor de CDP</b></div>
        <div class="col-md-6"><p>$ 60.000.000</p></div>
      </div>





    <div class=" panel panel-primary col-sm-5 paneles" >
      <div class="panel-heading row"><center><h4><b>Información General de la Novedad</b></h4></center></div>

      <div class="form-group col-md-6" >
        <label for="entrega">Número de Acta de Entrega</label>
        <input type="number" class="form-control" id="entrega" >
      </div>
      <div class="form-group col-md-6" >
        <label for="fecha_liquidacion">Fecha Liquidación</label>
        <input type="date" class="form-control" id="fecha_liquidacion" value="2017-07-04" >
      </div>
      <div class="form-group col-md-6" >
        <label for="plazo_actual" >Plazo Actual del contrato (En meses)</label>
        <input type="number" class="form-control" id="plazo_actual" disabled>
      </div>
      <div class="form-group col-md-6" >
        <label for="valor_actual" >Valor Final del Contrato</label>
        <input type="number" class="form-control" id="valor_actual" disabled>
      </div>
    </div>


      <div class=" panel panel-primary col-sm-5 paneles" >
        <div class="panel-heading row"><center><h4><b>Prórrogas</b></h4></center></div>
      </div>


      <div class="col-md-5 paneles"></div>
      <div class=" panel panel-primary col-md-5  paneles">
        <div class="panel-heading row"><center><h4><b>Suspensiones y reinicios</b></h4></center></div>
      </div>



    <div class="col-md-5 paneles"></div>
    <div class=" panel panel-primary col-md-5  paneles" >
      <div class="panel-heading row"><center><h4><b>Adiciones</b></h4></center></div>
    </div>

    <div class="col-md-5 paneles"></div>
    <div class=" panel panel-primary col-md-5  paneles" >
      <div class="panel-heading row"><center><h4><b>Pólizas</b></h4></center></div>
    </div>

    <div class="col-md-5 paneles"></div>
    <div class=" panel panel-primary col-md-5  paneles" >
      <div class="panel-heading row"><center><h4><b>Ejecución Financiera</b></h4></center></div>
      <div class="col-md-6"><b>Valor inicial</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>
      <div class="col-md-6"><b>Valor adición</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>
      <div class="col-md-6"><b>Valor inicial más adiciones</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>
      <div class="col-md-6"><b>Valor anticipo</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>
      <div class="col-md-6"><b>Valor amortizado del anticipo</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>
      <div class="col-md-6"><b>Reembolso rendimientos financieros anticipo</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>

      <div class="col-md-6"><b></b></div>
      <div class="col-md-6"><p></p></div>

      <div class="col-md-6"><b></b></div>
      <div class="col-md-6"><p></p></div>

      <div class="col-md-6"><b>Valor ejecutado sin ajustes</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>

      <div class="col-md-6"><b>Ajustes(En el caso que aplique)</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>
      <div class="col-md-6"><b>Valor total ejecutado más ajustes</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>
      <div class="col-md-6"><b>Valores girados al contratante</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>
      <div class="col-md-6"><b>Valores a girar por el contratante</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>
      <div class="col-md-6"><b>Valores a girar por el contratante contra suscripción del acta de liquidación</b></div>
      <div class="col-md-6"><p>$ 60.000.000</p></div>

    </div>

    <div class="col-md-5 paneles"></div>
    <div class=" panel panel-primary col-md-5  paneles" >
      <div class="panel-heading row"><center><h4><b>Obligaciones Pendientes</b></h4></center></div>
    </div>


    </div>
    <div class="panel-footer">
      <center><button class="btn btn-primary btn-lg" ng-click="sLactaLiquidacion.generarActa()">Crear Acta de Liquidación/Prórroga</button></center>
    </div>
</div>
