<br>
<div class="panel panel-default">
<center><h3 class="titulo-centrado">Acta de Suspensión</h3></center>
    <div class="panel-body">
      <div class=" panel panel-primary col-sm-5 paneles" >
        <div class="panel-heading row"><center><h4><b>Información</b></h4></center></div>
        <div class="col-md-6"><b>Número de contrato</b></div>
        <div class="col-md-6"><p>150246</p></div>
        <div class="col-md-6"><b>Contratante</b></div>
        <div class="col-md-6"><p>Universidad Distrital Francisco José de Caldas</p></div>
        <div class="col-md-6"><b>Contratista</b></div>
        <div class="col-md-6"><p>Pepe Perez</p></div>
        <div class="col-md-6"><b>Objeto</b></div>
        <div class="col-md-6"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel commodo mi, ut sollicitudin elit. Aliquam erat volutpat.
          Pellentesque mollis odio sed bibendum mattis. Nunc viverra ante a eros elementum consequat.</p> </div>
        <div class="col-md-6"><b>Valor contrato</b></div>
        <div class="col-md-6"><p>$ 2.264.427</p></div>
      </div>



      <div class=" panel panel-primary col-sm-5 paneles" >
        <div class="panel-heading row"><center><h4><b>Información Novedad</b></h4></center></div>
        <div class="form-group col-md-4" >
          <label for="fechainicio">Fecha Inicio:</label>
          <input type="date" class="form-control" id="fechainicio" value="2017-05-02" ng-disabled="true">
        </div>
        <div class="form-group col-md-4" >
          <label for="fechareinicio">Fecha de Reinicio:</label>
          <input type="date" class="form-control" id="fechareinicio" value="2017-07-04" >
        </div>
        <div class="form-group col-md-5">
          <label for="perido">Periodo de Suspensión (En meses):</label>
          <input type="number" class="form-control" id="periodo" value="2" ng-disabled="true">
        </div>


        <div class="form-group col-md-12" >
          <label for="motivo">Motivo de la Suspensión:</label>
          <textarea class="form-control" id="motivo" rows="3"></textarea>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <center><button class="btn btn-primary btn-lg" ng-click="sLactaSuspension.generarActa()">Crear Acta de Suspensión</button></center>
    </div>
</div>
