<br>
<div class="panel panel-default">
<center><h3 class="titulo-centrado">Acta de Cesión</h3></center>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class=" panel panel-primary" >
            <div class="panel-heading"><center><h4><b>Información</b></h4></center></div>
            <div class="panel-body">
              <div class="col-md-6"><b>Número de contrato</b></div>
              <div class="col-md-6"><p>{{sLactaCesion.contrato_obj.id}}</p></div>
              <div class="col-md-6"><b>Contratante</b></div>
              <div class="col-md-6"><p>{{sLactaCesion.contrato_obj.contratante}}</p></div>
              <div class="col-md-6"><b>Contratista</b></div>
              <div class="col-md-6" ng-if="sLactaCesion.contrato_obj.contratista_documento != null">
                <p>
                  {{sLactaCesion.contrato_obj.contratista_nombre}} <br>
                  <span style="color:#555; font-size:14px;">
                    {{sLactaCesion.contrato_obj.contratista_documento}}
                  </span>
                </p>
              </div>
              <div class="col-md-6" ng-if="sLactaCesion.contrato_obj.contratista_documento == null">
                <p>No registra</p>
              </div>
              <div class="col-md-6"><b>Objeto</b></div>
              <div class="col-md-6"><p>{{sLactaCesion.contrato_obj.objeto}}</p>
              </div>
              <div class="col-md-6"><b>Valor contrato</b></div>
              <div class="col-md-6"><p>{{sLactaCesion.contrato_obj.valor | currency}}</p></div>
              <div class="col-md-6"><b>Ordenador del Gasto</b></div>
              <div class="col-md-6"><p>{{sLactaCesion.contrato_obj.ordenador_gasto}}</p></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" panel panel-primary" >
            <div class="panel-heading"><center><h4><b>Información Novedad</b></h4></center></div>
            <div class="panel-body">
              <div layout-gt-sm="row">
                <md-autocomplete flex ng-class="autocomplete-style"
                  md-floating-label="Cedula del cesionario"
                  md-search-text="sLactaCesion.texto_busqueda"
                  md-items="item in sLactaCesion.persona_natural_grep"
                  md-item-text="item.Id+''"
                  md-selected-item="sLactaCesion.persona_sel"
                  md-selected-item-change="sLactaCesion.persona_sel_change(item)"
                  md-search-text-change="sLactaCesion.cargar_persona_natural(sLactaCesion.texto_busqueda)">
                  <md-item-template class="md-block" flex-gt-sm>
                    <span class="item-title">{{item.Id}}</span>
                    <span class="item-metadata">
                      {{item.PrimerNombre}} {{item.PrimerApellido}}
                    </span>
                  </md-item-template>
                  <md-not-found>
                    No match found.
                  </md-not-found>
                </md-autocomplete>
                <md-input-container flex>
                  <label for="perido">Número de Oficio:</label>
                  <input type="number" ng-model="sLactaCesion.num_oficio" class="md-autocomplete" id="oficio" >
                </md-input-container>
              </div>

              <div class="form-group col-sm-6" >
                <label for="fechaoficio">Fecha del Oficio:</label>
                <md-datepicker ng-model="sLactaCesion.f_oficio" md-placeholder="Ingrese fecha"></md-datepicker>
              </div>
              <div class="form-group col-sm-6" >
                <label for="fechacesion">Fecha de Cesión:</label>
                <md-datepicker ng-model="sLactaCesion.f_cesion" md-placeholder="Ingrese fecha"></md-datepicker>
              </div>

              <div class="form-group col-md-12" >
                <label for="consideraciones">Otras Observaciones:</label>
                <textarea class="form-control" ng-model="sLactaCesion.observaciones" id="observaciones" rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" panel panel-primary" >
            <div class="panel-heading"><center><h4><b>Información Cesionario</b></h4></center></div>
            <div class="panel-body">
              <div ng-if="sLactaCesion.cesionario_obj.nombre == null">
                Seleccionar un cesionario
              </div>
              <div ng-if="sLactaCesion.cesionario_obj.nombre != null">
                <div class="col-md-6"><b>Nombres</b></div>
                <div class="col-md-6"> {{sLactaCesion.cesionario_obj.nombre}}</div>
                <div class="col-md-6"><b>Apellidos</b></div>
                <div class="col-md-6"> {{sLactaCesion.cesionario_obj.apellidos}} </div>
                <div class="col-md-6"><b>Tipo de Documento</b></div>
                <div class="col-md-6"> {{sLactaCesion.cesionario_obj.tipo_documento}}</div>
                <div class="col-md-6"><b>Identificación</b></div>
                <div class="col-md-6"> {{sLactaCesion.cesionario_obj.identificacion}} </div>
                <div class="col-md-6"><b>Tipo de Persona</b></div>
                <div class="col-md-6"> {{sLactaCesion.cesionario_obj.tipo_persona}} </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div ng-if="sLactaCesion.cesion_nov != null">
            <pre>{{sLactaCesion.cesion_nov | json}}</pre>
          </div>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <center><button class="btn btn-primary btn-lg" ng-click="sLactaCesion.generarActa()">Crear Acta de Cesión</button></center>
    </div>
</div>
