<br>
<div class="panel panel-default">
    <div class="panel panel-body">
        <p>
          <div class="centrado">
            <center>  <h3><b>{{'SEGUIMIENTO_LEGAL' | translate}}</b></h3> </center>
              <hr>
              <center><div style="float:left;margin-bottom:2%;width:100%">
                <div class="row" style="border:0px solid;">
                  <div class="col-md-2 col-md-offset-3">
                    <div>
                      <label>{{'VIGENCIA_SELECCIONADA' | translate}}<b>{{sLegal.vigencia_seleccionada}}</b> </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-3" align="right">
                      <label>{{'SELECCIONE_UNA_VIGENCIA' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                      <md-select style="margin-top:0;" ng-model="sLegal.vigencia_seleccionada">
                        <md-option ng-repeat="vigencia in sLegal.vigencias" ng-value="vigencia" ng-selected="$index === 0">
                          {{vigencia}}
                        </md-option>
                      </md-select>
                    </div>
                  </div>
                </div>
                <hr>
                <label for="boton_novedad">{{'SELECCIONE_UNA_NOVEDAD' | translate}}</label>
                <div class="btn-group" ng-if="sLegal.estado_resultado_response == 200">
                  <button type="button" id="boton_novedad" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    {{'NOVEDADES' | translate}} <span class="caret"></span>
                  </button>

                  <ul class="dropdown-menu" role="menu">
                    <li ng-if="sLegal.estado_contrato_obj.estado == 4"><a href="#/seguimientoycontrol/legal/acta_adicion_prorroga/{{sLegal.row_c.contrato.numero_contrato_suscrito}}/{{sLegal.vigencia_seleccionada}}">{{'CREAR_NOVEDAD_ADICION_PRORROGA' | translate}}</a></li>
                    <li ng-if="sLegal.estado_contrato_obj.estado == 4"><a href="#/seguimientoycontrol/legal/acta_inicio/{{sLegal.row_c.contrato.numero_contrato_suscrito}}/{{sLegal.vigencia_seleccionada}}">{{'CREAR_ACTA_INICIO' | translate}}</a></li>
                    <li ng-if="sLegal.estado_contrato_obj.estado == 4"><a href="#/seguimientoycontrol/legal/acta_suspension/{{sLegal.row_c.contrato.numero_contrato_suscrito}}/{{sLegal.vigencia_seleccionada}}">{{'CREAR_NOVEDAD_SUSPENSION' | translate}}</a></li>
                    <li ng-if="sLegal.estado_contrato_obj.estado == 2"><a href="#/seguimientoycontrol/legal/acta_reinicio/{{sLegal.row_c.contrato.numero_contrato_suscrito}}/{{sLegal.vigencia_seleccionada}}">{{'CREAR_NOVEDAD_REINICIO' | translate}}</a></li>
                    <li ng-if="sLegal.estado_contrato_obj.estado == 4"><a href="#/seguimientoycontrol/legal/acta_cesion/{{sLegal.row_c.contrato.numero_contrato_suscrito}}/{{sLegal.vigencia_seleccionada}}">{{'CREAR_NOVEDAD_CESION' | translate}}</a></li>
                    <li ng-if="sLegal.estado_contrato_obj.estado == 4"><a href="#/seguimientoycontrol/legal/acta_liquidacion">{{'CREAR_NOVEDAD_LIQUIDACION' | translate}}</a></li>
                    <li ng-if="sLegal.estado_contrato_obj.estado == 4"><a href="#/seguimientoycontrol/legal/acta_terminacion_liquidacion_bilateral">{{'CREAR_NOVEDAD_TERMINACION_ANTICIPADA' | translate}}</a></li>
                    <li ng-if="sLegal.estado_contrato_obj.estado == 4"><a href="#/seguimientoycontrol/legal/novedad_otro_si_modificatorio">{{'CREAR_NOVEDAD_OTRO_SI_MODIFICATORIO' | translate}}</a></li>
                    <li ng-if="sLegal.estado_contrato_obj.estado == 4"><a href="#/seguimientoycontrol/legal/novedad_otro_si_aclaratorio">{{'CREAR_NOVEDAD_OTRO_SI_ACLARATORIO' | translate}}</a></li>
                  </ul>
                </div>

                <div class="btn-group" ng-if="sLegal.estado_resultado_response == 0">
                  <button type="button" id="boton_novedad" class="btn btn-success dropdown-toggle" data-toggle="dropdown" ng-disabled="true">{{'NOVEDADES' | translate}}
                    <span class="caret"></span>
                  </button>
                </div>
              </div></center>


              <table style="width:85.5%;" align="center">
                <tr>
                  <td>
                    <div ui-grid="sLegal.gridOptions" ui-grid-selection class="myGrid"></div>
                  </td>
                </tr>
                <tr>
                </tr>
              </table>
        </div>
    </div>
</div>
